#navbarSupportedContent {
  flex: auto;
}

.hover:hover {
  background-color: rgba(166, 230, 245, 0.6);
}

.nav-input {
  margin-right: 50px;
  width: 52%;
}

.navbar-custom {
  // background-color: rgb(172, 227, 236);
  background-color: white;
  // height: 75px;
}

.navbar-brand-small {
  display: none;
}

.navbar-brand-big {
  display: block;
}

@media (max-width: 991px) {
  .nav-search {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nav-input {
    width: 100%;
    margin: 0%;
    right: 0px;
  }
  .navbar-brand-big {
    display: none;
  }
  .navbar-brand-small {
    display: block;
  }
  #navbarSupportedContent {
    flex: none;
    width: 95%;
  }
}
