#navbarSupportedContent {
  flex: auto;
}

.search-results {
  text-align: start;
  position: absolute;
  top: 40px;
  background-color: white;
  width: 100%;
  z-index: 10;
}

.hover:hover {
  background-color: rgba(166, 230, 245, 0.6);
}

.nav-buttons {
  margin-top: 10px;
}

.nav-input {
  width: 60%;
  margin-right: 2.5%;
}

.navbar-brand-small {
  display: none;
}

.navbar-brand-big {
  display: block;
}

@media (max-width: 991px) {
  .nav-input {
    width: 100%;
    margin: 0%;
  }
  .navbar-brand-big {
    display: none;
  }
  .navbar-brand-small {
    display: block;
  }
  #navbarSupportedContent {
    flex: none;
    width: 95%;
  }
}
